---
import NavItem from './NavItem.astro';
---

<header>
  <div class="container">
    <nav>
      <NavItem href="/">Home</NavItem>
      <NavItem href="/projects">Projects</NavItem>
      <!--<NavItem href="https://note.ksh.one" target="_blank">Note</NavItem>-->
    </nav>
  </div>
</header>
<style>
    header {
        margin-top: 10rem;
    }
</style>