---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;
const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---
<a href={href} class:list={[className, { active: isActive }]} {...props}><slot /></a>

<style lang="scss">
  a {
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 0;

    &.active {
      border-bottom: 1.5px solid var(--accent-color);
    }
  }
</style>