---
import Header from '@/components/Header.astro';

interface Props {
  title: string;
  description: string;
  keywords: string[];
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join(',')} />
  <meta name="author" content="b0unt9" />

  <title>{title} | B0unt9</title>

  <script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" />
</head>
<body>
<Header />
<slot />
</body>
</html>

<style is:global lang="scss">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before, &::after {
      box-sizing: border-box;
    }
  }

  html {
    font-size: 62.5%;
    height: 100%;
  }

  body {
    --background-color: #F1E5D4;
    --content-color: #333;
    --dark-background-color: #212121;
    --dark-content-color: #BDBDBD;
    --accent-color: #00C853;
    color: var(--content-color);
    background-color: var(--background-color);
    font-size: 1.6rem;
    line-height: 1.8;

    @media (prefers-color-scheme: dark) {
      color: var(--dark-content-color);
      background: var(--dark-background-color);

      a {
        color: var(--dark-content-color);
      }
    }
  }

  section {
    padding-bottom: 30px;
  }

  div {
    margin-bottom: 20px;
  }

  .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #333;
    border-bottom: 1.5px solid var(--accent-color);
  }

  p {
    padding: 1rem 0;
  }
</style>